<canvas #canvas id="canvas" class="webgl" style="margin-top: 5%;"></canvas>
<section class="one" id="one">
    <div class="container">
        <div class="hero">
            <h3>Привет, я Юля!</h3>

            <h2>Ты мечтаешь о красивых фотографиях?</h2>

            <p>
                Я работаю в сфере фотографии уже больше 4-х лет,<br>

                за спиной у меня огромный опыт студийных, свадебных, <br>
                семейных фотосессий, а также фотосъемок "Love story". <br>
                Вместе мы воплотим твои прекрасные мечты в реальность!
            </p>

        </div>
    </div>
</section>

<section class="two">
    <div class="container">
        <div class="hero">
            <h3>Немного обо мне</h3>
            <h2>Очередной фотограф-любитель?</h2>
            <p>Я закончила с отличием Губернаторский колледж культуры<br>
                по специальности "Техника и искусство фотографии".<br>
                Я не перестаю развиваться и регулярно прохожу курсы от<br>
                известных фотографов России, а на текущий момент обучаюсь<br>
                в ТГПУ по направлению "Дизайн" </p>

        </div>
    </div>
</section>

<section class="one">
    <div class="container">
        <div class="hero">
            <h3>Творчество - моя стихия!</h3>
            <p>Для меня фотографии - это запечатление самых важных<br>
                моментов и событий в нашей жизни, поэтому в своих<br>
                работах я стараюсь сохранить атмасферу и эмоции этих<br>
                прекрасных дней. Помимо этого я обожаю эксперементировать,<br>
                благодаря этому фотографии получаются действительно<br>
                уникальными.</p>

        </div>
    </div>
</section>

<section>
    <div> <a class="t" href="https://t.me/yulchapl" target="_blank">Записаться на фотосессию</a></div>
</section>