<section class="centre" style="width: 90%; padding-bottom: 5%;">

    <div class="style">
        <p class="text" style="font-size:15px; font-family: 'Quicksand', sans-serif; color:#323232;">ПОРТФОЛИО</p>
    </div>

    <div class="style">
        <p class="text" style="font-style: italic;">Мои работы</p>
    </div>

    <div>
        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/1.jpg" alt="photo-1" width="400px" height="600px" style="margin-right: 10px;">
            <img src="/assets/2.jpg" alt="photo-1" width="400px" height="600px">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/3.jpeg" alt="photo-1" width="400px" height="600px" style="margin-right: 10px;">
            <img src="/assets/4.jpeg" alt="photo-1" width="400px" height="600px">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/5.jpg" alt="photo-1" height="600" width="810">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/6.jpeg" alt="photo-1" width="400px" height="600px" style="margin-right: 10px;">
            <img src="/assets/7.jpg" alt="photo-1" width="400px" height="600px">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/8.jpg" alt="photo-1" width="400px" height="600px" style="margin-right: 10px;">
            <img src="/assets/9.jpg" alt="photo-1" width="400px" height="600px">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/10.jpg" alt="photo-1" height="600" width="810">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/11.jpg" alt="photo-1" width="400px" height="600px" style="margin-right: 10px;">
            <img src="/assets/12.jpg" alt="photo-1" width="400px" height="600px">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/13.jpg" alt="photo-1" width="400px" height="600px" style="margin-right: 10px;">
            <img src="/assets/14.jpg" alt="photo-1" width="400px" height="600px">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/15.jpg" alt="photo-1" height="600" width="810">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/16.jpg" alt="photo-1" width="400px" height="600px" style="margin-right: 10px;">
            <img src="/assets/17.jpg" alt="photo-1" width="400px" height="600px">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/18.jpg" alt="photo-1" width="400px" height="600px" style="margin-right: 10px;">
            <img src="/assets/19.jpg" alt="photo-1" width="400px" height="600px">
        </section>

        <section style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <img src="/assets/20.jpg" alt="photo-1" width="400px" height="600px" style="margin-right: 10px;">
            <img src="/assets/21.jpg" alt="photo-1" width="400px" height="600px">
        </section>

       