<section class="centre" style="padding-bottom: 5%;">

    <div class="style">
        <p class="text" style="font-size:15px; font-family: 'Quicksand', sans-serif; color:#323232;">КОНТАКТЫ</p>
    </div>

    <section>
        <div style="display: block; margin-left: auto; margin-right: auto; width: fit-content; margin-bottom: 10px;">
            <p class="text" style="font-style: italic; text-align: center; margin-bottom: 20px; padding-top: 20px;">Плехова Юлия</p>
            <img src="/assets/Julia.JPG" alt="Photographer" height="200" width="200" style="border-radius: 10%; margin-bottom: 20px;">
            <p class="text" style="text-align: center; font-size:20px; font-family: 'Quicksand', sans-serif;">г. Томск</p>
            <p class="text" style="text-align: center; font-size:20px; font-family: 'Quicksand', sans-serif; margin-bottom: 30px;">тел.: +7 (960) 975-89-88</p>
            <a class="text" style="text-align: center; font-size:17px; font-family: 'Quicksand', sans-serif;" href="https://instagram.com/lisonkaaaaa?igshid=NTc4MTIwNjQ2YQ=="  target="_blank"><p>INSTAGRAM</p></a>
            <a class="text" style="text-align: center; font-size:17px; font-family: 'Quicksand', sans-serif;" href="https://t.me/yulchapl"  target="_blank" ><p>TELEGRAM</p></a>
        </div>
    </section>


</section>