<canvas #canvas id="canvas" class="webgl" style="margin-top: 5%;"></canvas>

<!-- <section class="one" id="one">
    <div class="container">
        <div class="hero">
            <h2>Привет, я Юля</h2>
            <h3>Ты мечтаешь о красивых фотографиях?</h3>
            <p>
                Я работаю в сфере фотографии уже больше 4-х лет,<br>

                ducimus aspernatur quia, repellendus beatae fugiat!</p>

        </div>
    </div>
</section>

<section class="two">
    <div class="container">
        <div class="hero">
            <h2>У тебя есть классные <br> идеи для фотосессий?</h2>
            <h3>Мы можем превратить <br> их в реальность вместе</h3>
            <p>                    закончила c красным дипломом государственный колледж <br> 
                культуры в Томске по направлению "Фотография", <br>
                providentvoluptatem excepturi id in quasi ea hic voluptate dicta amet explicabo <br>
                expedita ratione velit modi. Nisiquaerat illum amet quisquam iusto perferendis <br>
                ducimus aspernatur quia, repellendus beatae fugiat!</p>

        </div>
    </div>
</section>

<section>
    
   <div > <a class="t" href="https://t.me/yulchapl"  target="_blank" >Записаться на фотосессию</a></div>
</section> -->
