<section class="centre" style="padding-bottom: 5%;">
    <div class="style">
        <p class="text" style="font-size:15px; font-family: 'Quicksand', sans-serif; color:#323232;">ПРАЙС</p>
    </div>

    <div class="style">
        <p class="text" style="font-style: italic;">Индивидуальная съемка</p>
        <p class="text" style="font-family: 'Quicksand', sans-serif; font-size: 15px;">(Женский портрет)</p>
        <p class="text" style="font-family: 'Quicksand', sans-serif; font-size: 15px; color:black">3000 РУБ.</p>
    </div>

    <img src="/assets/4.jpeg" alt="photo-example" height="400px" width="300px" style="display: 
    block; margin-left: auto; margin-right: auto;">

    <p class="text" style="font-size:20px; font-family: 'Quicksand', sans-serif; color:#323232; ">В стоимость входит
        :</p>
    <section
        style="display: 
        block; margin-left: auto; margin-right: auto; background-color: #3232320f; width: 30%; padding-top: 15px; padding-bottom: 15px;">
        <p style="margin-left: 15px; text-align: center;">- 1 час фотосъемки</p>
        <p style="margin-left: 15px; text-align: center;">- 15 фото в ретуши</p>
        <p style="margin-left: 15px; text-align: center;">- Все исходники</p>
        <p style="margin-left: 15px; margin-right: 15px; text-align: center;">
            За 1 час фотосъемки: <br>
            сможем отснять 2 образа, <br>
            я помогу Вам с позированием, <br>
            вместе мы сможем подобрать <br>
            образ и стиль съемки
        </p>
        <p style="margin-left: 15px; margin-right: 15px; text-align: center;">
            Также вы можете подготовить <br>
            референсы для съемки.</p>

            <p style="margin-left: 15px; margin-right: 15px; text-align: center;">
                Срок обработки фотографий: <br>
                20-30 дней</p>

    </section>

    <p class="text" style="font-size:20px; font-family: 'Quicksand', sans-serif; color:#323232;">Оплачивается отдельно :</p>
    <section
        style="display: 
        block; margin-left: auto; margin-right: auto; background-color: #3232320f; width: 30%; padding-top: 15px; padding-bottom: 15px;">
        <p style="margin-left: 15px; margin-right: 15px; text-align: center;">Аренда фотостудии</p>
        
        <p style="margin-left: 15px; margin-right: 15px; text-align: center;">
            Обработка дополнительных <br> фотографий - 200 руб./шт</p>
    </section>

    <p class="text" style="font-size:20px; font-family: 'Quicksand', sans-serif; color:#323232;">Запись на фотосъемку осуществляется <br>
        по предоплате 1000 руб.</p>

</section>