<!-- Навигационное меню -->
<nav class="uk-navbar-container" style="height: 10%;" >
    <div class="uk-container">
        <div uk-navbar>

            <!-- Область кнопки -->
            <div class="uk-navbar-left">

                <!-- Поведение кнопки -->
                <a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>

                <!-- Область выпадающего списка -->
                <div class="uk-navbar-dropdown" style="width: 20%;">

                    <!-- Список -->
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        
                        <!-- Элементы списка -->
                        <li><a href="#" routerLink="/">Обо мне</a></li>
                        <li><a href="#" routerLink="/portfolio">Портфолио</a></li>
                        <li><a href="#" routerLink="/price">Прайс</a></li>
                        <li><a href="#" routerLink="/contacts">Контакты</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>